.loading
  container()
  margin: 0
  padding: 0
  position: relative
  flex-f()
  colors-f(light-blue)

  .container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: flex

    .dash
      container(1rem, 2.2rem)
      margin: 0 1rem
      border-radius: .5rem
      background: dark-blue
      box-shadow: 0 0 10px 0 white

    .uno
      margin-right: -1.1rem
      transform-origin: center left
      animation: spin 3s linear infinite

    .dos
      transform-origin: center right
      animation: spin2 3s linear infinite
      animation-delay: .2s

    .tres
      transform-origin: center right
      animation: spin3 3s linear infinite
      animation-delay: .3s

    .cuatro
      transform-origin: center right
      animation: spin4 3s linear infinite
      animation-delay: .4s
