.timeLog
  container(basis-inner-height(), 100vw)
  flex-f(,,stretch)
  background-image-f('./images/back.jpg')
  background-size: cover

  .tasksList
    width: 80%
    colors-f(light-blue-transparency)
    flex-f(column, flex-start,)
    padding: 1rem 0

    .taskBlock
      width: 80%
      colors-f(dark-blue, white)
      padding: 1rem
      margin-bottom: 1rem
      font-size: fsize-middle

      .field
        padding: 0
        margin: 0
        padding-bottom: .7rem

        .fieldTitle
          font-weight: bold
          font-style: italic
