.layout
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 10
  colors-f(black-transparency)
  flex-f()

  .popupDelete
    position: relative
    width: 40%
    padding: 3rem 1rem
    border-radius: .5rem
    flex-f(, space-between, flex-end)
    colors-f(light-blue)
    border-f(dark-blue)

    &::after
      content: ''
      position: absolute
      width: .2rem
      top: .5rem
      bottom: .5rem
      left: 50%
      colors-f(white)

    .buttonContainer
      flex-f(, space-around)
      flex-wrap: wrap

      .sideText
        font-size: fsize-middle
