.basis {
  min-height: 100vh;
  min-width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

.basis header {
  min-width: 100%;
  background-color: #7EC6F1;
  height: 70px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.basis .headerTitle {
  font-size: 2rem;
  color: #0D496E;
  margin: 0;
}

.basis .headerButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  min-height: 30%;
  width: 100%;
}

.basis .logout {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 4.3rem;
  height: 4.3rem;
}

.basis footer {
  min-width: 100%;
  background-color: #0D496E;
  height: 50px;
  font-size: 2rem;
  color: #fff;
}
