.auth
  colors-f(dark-blue, white)
  font-size: fsize-middle
  width: 100%
  padding: 1rem
  border-radius: .5rem

  .chooseSignTypeBlock
    min-height: 20%
    border-bottom: 2px solid #fff
    padding: .7rem
    flex-f()

    .preButton
      margin-left: 1rem
      padding-left: 1rem
      border-left: 2px solid #fff;
      display: inline-block
